.value-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.value-editor-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.value-editor-error {
  font-size: 12px;
}

.value-editor-content {
  border: 1px solid #303030;
  border-radius: 6px;
  overflow: hidden;
}
